<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/searchPage.css}">
</head>
<body>

<header class="main-header-body">
    <div id="logo">
        <a id="link" th:href="@{/books}">Home</a>
    </div>

    <div id="search-body">
        <form th:action="@{/search/__${bookN}__}" method="post">
            <div id="search">
                <input id="input-book-name" type="text" name="bookName">
                <button id="search-button">Search</button>
            </div>
        </form>
    </div>

</header>


<div class="main-books-list">
    <ul id="list-body">
        <li id="main-list" th:each="books : ${searchedBooks}">
            <div id="book-block">
                <div id="image-block">
                    <a id="similar-book-link" th:href="@{/book/__${books.id}__}">
                        <image th:src="@{${books.image} }" id="book-image"></image>
                    </a>
                </div>
                <div id="book-info-block">
                    <p id="book-title" th:text="${books.title}"></p>
                    <p id="book-authors" th:text="${books.authors}"></p>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>